<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HCL Playground</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>HCL Playground</h1>
        <form method="POST">
            <div class="form-group">
                <label for="terraformVersion">Terraform Version:</label>
                <select id="terraformVersion" name="terraformVersion">
                    {% if selected_terraform_version %}
                    <option value="{{selected_terraform_version}}">{{selected_terraform_version}}</option>
                    {% for version in terraform_versions %}
                    <option value="{{version}}">{{version}}</option>
                    {% endfor %}
                    {% else %}
                    {% for version in terraform_versions %}
                    <option value="{{version}}">{{version}}</option>
                    {% endfor %}
                    {% endif %}}
                </select>
            </div>

             <div class="form-group">
                <label for="dataInput">Enter any data (like a `locals` block):</label>
                <textarea id="dataInput" name="dataInput" rows="10" placeholder='locals {&#10;  big = "big"&#10;}'>{% if data %}{{data}}{% else %}locals {&#10;  big = "big"&#10;}{% endif %}</textarea>
            </div>

            <div class="form-group">
                <label for="codeInput">Enter your HCL code:</label>
                <textarea id="codeInput" name="codeInput" rows="10" placeholder='setproduct([local.big,"yeet"],["deer","yam"])' required>{% if code %}{{code}}{% else %}setproduct([local.big,"yeet"],["deer","yam"]){% endif %}</textarea>
            </div>
            <button type="submit">Run Code</button>
        </form>
        {% if output %}
            <div id="outputSection">
                <h2>Output:</h2>
                <pre id="output">{{ output }}</pre>
            </div>
        {% endif %}
    </div>
</body>
</html>