<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HCL Playground</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>HCL Playground</h1>
        <form method="POST">
            <div class="form-group">
                <label for="terraformVersion">Terraform Version:</label>
                <select id="terraformVersion" name="terraformVersion">
                    <option value="1.3.3">1.3.3</option>
                    <!-- Add more versions as options here -->
                </select>
            </div>

             <div class="form-group">
                <label for="dataInput">Enter any data (like a `locals` block):</label>
                <textarea id="dataInput" name="dataInput" rows="10" placeholder="Enter data here..."></textarea>
            </div>

            <div class="form-group">
                <label for="codeInput">Enter your HCL code:</label>
                <textarea id="codeInput" name="codeInput" rows="10" placeholder="Enter HCL code here..."></textarea>
            </div>
            <button type="submit">Run Code</button>
        </form>
        {% if output %}
            <div id="outputSection">
                <h2>Output:</h2>
                <pre id="output">{{ output }}</pre>
            </div>
        {% endif %}
    </div>
</body>
</html>