openapi: 3.0.3
info:
  title: hcl-playground - OpenAPI 3.0
  description: |-
    Some useful links:
    - [https://github.com/scottx611x/hcl-playground](https://github.com/scottx611x/hcl-playground)
  contact:
    email: scottx611x@gmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.0.1
servers:
  - url: https://hcl-playground.com
paths:
  /api:
    post:
      summary: Make an HCL Experiment
      description: Test out some HCL code against a Terraform version of your choosing
      operationId: createExperiment
      requestBody:
        description: Provide the HCL code to test along with the version of terraform to run it with
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HclExperiment'
        required: true
      responses:
        '200':
          description: Request processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HclExperimentResponse'
components:
  schemas:
    HclExperiment:
      type: object
      properties:
        payload:
          type: string
          example: "concat([1,2,3,4],[5,6,7,8])"
        terraform_version:
          type: string
          description: The version of Terraform to run the experiment with
          enum:
            - 1.3.3
            - 1.3.2
            - 1.3.1
            - 1.3.0
            - 1.2.9
            - 1.2.8
            - 1.2.7
            - 1.2.6
            - 1.2.5
            - 1.2.4
            - 1.2.3
            - 1.2.2

    HclExperimentResponse:
      type: object
      properties:
        terraform_console_output:
          type: string



  